.nav-main-container {
  position: sticky;
  top: 0;
  background-color: #ffedc6;
  border-bottom: 1px solid #deb881;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.nav-title {
  margin-left: 20px;
  text-shadow: 2px 1px #deb881;
}

.nav-title a {
  text-decoration: none;
  color: black;
}

.nav-right-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1285px) {
  .nav-main-container {
    font-size: 0.75em;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    height: 125px;
  }
  .nav-title {
    margin: 15px 0 10px 0;
    padding: 0;
    padding-top: 5px;
  }
  .nav-right-container {
    display: none;
  }
}
