.modal-info-title {
  text-align: center;
  align-self: center;
  margin-top: 25px;
  padding: 5px 10px;
  font-size: 1.4em;
  text-shadow: 2px 1px #deb881;
  border: 1px solid #deb881;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  width: 40%;
  background-color: #ffedc6;
}

.modal-info-title:hover,
.modal-info-title:hover:active {
  box-shadow: 0 0 1px 1px #deb881;
}

@media (max-width: 750px) {
  .modal-info-title {
    width: 75%;
  }
}
