.modal-calories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 0.5s ease-out 0s 1 slideDown forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-60%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 2000px) {
  .modal-ingredients-container {
    width: 100%;
  }
}
