html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  background-color: #fffbf0;
  font-size: 0.93em;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@media (max-width: 2000px) {
  html,
  body {
    font-size: 0.9em;
  }
}
